@font-face {
    font-family: 'Poppins Extra Bold';
    src: url('../fonts/Poppins-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins Bold';
    src: url('../fonts/Poppins-Bold.ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: 800;
    font-style: normal;
}
.text-accent {
    color: #CFC934;
}
.text-success {
    color: forestgreen;
}

.h1-text-extra-bold {
    font-family: 'Poppins Extra Bold', sans-serif;
    font-size: 54px;
    text-transform: uppercase;
}

.h2-text-extra-bold {
    font-family: 'Poppins Extra Bold', sans-serif;
    font-size: 48px;
}
.h3-text-extra-bold {
    font-family: 'Poppins Bold', sans-serif;
    font-size: 42px;
}
.xl-text-bold {
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 24px!important;
}
.xl-text-regular {
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 24px;
}
.lg-text-bold {
    font-family: 'Open Sans Bold', sans-serif !important;
    font-size: 18px !important;
    font-weight: 800 !important;
}
.lg-text-regular {
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 18px !important;
}
.md-text-bold {
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 16px!important;
}
.md-text-regular {
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 16px!important;
}
.sm-text-regular {
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 12px!important;
}
.card-button {
    border-color: #CFC934!important;
}
.card-button:hover {
    color: #000000 !important;
    background-color: #CFC934!important;
}
span {
    font-family: 'Open Sans Regular', sans-serif;
}
p {
    font-family: 'Open Sans Regular', sans-serif;
}

@media (max-width: 768px) {
    .h1-text-extra-bold {
        font-size: 32px;
        text-transform: capitalize;
    }

    .h2-text-extra-bold {
        font-size: 30px;
    }
    .h3-text-extra-bold {
        font-size: 26px;
    }
}